/* Write your CSS here */
.logout-button {
  font-family: roboto;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 20px;
  border-style: none;
  border-radius: 7px;
}
